# Helicon Ape version 3.1.0.115
RewriteEngine on 
DirectoryIndex  index.php 

RewriteRule ^adminlogin$ admin/login.php
RewriteRule ^area/adminarea$ admin/index.php?controller=home&action=index&area=admin

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)$ admin/index.php?controller=$1&action=index&area=admin 

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)&(.*)$ admin/index.php?controller=$1&action=index&area=admin&$2 

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ admin/index.php?controller=$1&action=$2&area=admin

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)&(.*)$ admin/index.php?controller=$1&action=$2&area=admin&$3

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*)$ admin/index.php?controller=$1&action=$2&id=$3&area=admin

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)$ admin/index.php?controller=$1&action=$2&id=$3&area=admin 

RewriteRule ^area/adminarea/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)&(.*)$ admin/index.php?controller=$1&action=$2&id=$3&area=admin&$4 


RewriteRule ^$ index.php?controller=home&action=index
RewriteRule ^tim-kiem.html$ index.php?controller=product&action=search
RewriteRule ^hen-di-xem.html$ index.php?controller=booking&action=viewProductsSaved
RewriteRule ^cam-on.html$ index.php?controller=booking&action=thankyou
RewriteRule ^lien-he-thanh-cong.html$ index.php?controller=home&action=contactsuccess
RewriteRule ^can-ho/duong-([a-zA-Z0-9_-]+)$ index.php?controller=product&action=getByStreet&alias=$1
RewriteRule ^can-ho/huong-([a-zA-Z0-9_-]+)$ index.php?controller=product&action=getByDirection&alias=$1
RewriteRule ^can-ho/([a-zA-Z0-9_-]+)$ index.php?controller=product&action=getByDistrict&alias=$1

RewriteRule ^tin-tuc.html$ index.php?controller=new&action=index
RewriteRule ^tin-tuc.html&page=([0-9]+)$ index.php?controller=new&action=index&page=$1
RewriteRule ^tin-tuc/([a-zA-Z0-9_-]+).html$ index.php?controller=new&action=details&alias=$1

RewriteRule ^lien-he.html$ index.php?controller=home&action=contact

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?controller=product&action=details&aliasCategory=$1&aliasProduct=$2

RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?controller=product&action=index&alias=$1
RewriteRule ^([a-zA-Z0-9_-]+).html&(.*)$ index.php?controller=product&action=index&alias=$1&$2

RewriteRule ^([a-zA-Z0-9_]+)$ index.php?controller=$1&action=index
RewriteRule ^([a-zA-Z0-9_]+)&(.*)$ index.php?controller=$1&action=index&$2

RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$ index.php?controller=$1&action=$2
RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/([0-9]+)$ index.php?controller=$1&action=$2&id=$3
RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)&(.*)$ index.php?controller=$1&action=$2&$3

RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)$ index.php?controller=$1&action=index&id=$2
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)&(.*)$ index.php?controller=$1&action=index&id=$2&$3

RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/([0-9]+)&(.*)$ index.php?controller=$1&action=$2&id=$3&$4

ErrorDocument 404 /cyberreal/pages/404/index.html
ErrorDocument 500 /cyberreal/pages/500/index.html

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php5_module>
   php_flag asp_tags Off
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 128M
   php_value session.gc_maxlifetime 1440
   php_value upload_max_filesize 20M
</IfModule>
# END cPanel-generated php ini directives, do not edit
